.calendarPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.listDisplay{
  width: 360px;
  background-color: #A5E1A6;
  border-radius: 20px;
  padding: 1% 3%;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
}


.react-calendar abbr {
  text-decoration: none;
}

.react-calendar {
  border: none;
  border-radius: 16px;
  padding: 1rem;
  background: whitesmoke;
  width: 100%;
  max-width: 360px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 8px;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
}

.react-calendar__tile {
  aspect-ratio: 1;
  border-radius: 12px;
  padding: 0.4rem;
  font-size: 0.85rem;
}


.react-calendar__tile--active {
  background: #22c55e;
  color:	#c60aff;
}

.react-calendar__tile--now {
  background: #dcfce7;
  font-weight: 600;
}

.task-lvl-0 { background-color: whitesmoke !important; }
.task-lvl-1 { background-color: #9be9a8 !important; }
.task-lvl-2 { background-color: #40c463 !important; }
.task-lvl-3 { background-color: #30a14e !important; }
.task-lvl-4 { background-color: #298842 !important; }
.task-lvl-5 { background-color: #216e39 !important;}