.todopage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  align-items: start;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #A5E1A6;
  border-radius: 20px;
  padding: 0% 3%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.lookbackImage img{
  border-radius: 20px;
}

.rightsideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 30px;
}

li {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  padding: 1px 20px;        /* space inside the box */
  background-color: #d4f8d4; /* light background */
  transition: all 0.1s ease; /* smooth hover effect */
}


.task-text {
    margin-left: 10px;
}

.bin-button {
  margin-left: auto;
}

li:hover {
  background-color: #c1f5c1;
  transform: scale(1.02);    /* subtle scale effect */
}

input {
  outline: 2px solid black; 
  text-indent: 10px;
}


.form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 1px;
}

button:hover {
  color: blue;
  background-color: lightcyan;
}



