/* From Uiverse.io by Xtenso */ 
.filter-switch {
  border: 2px solid #C7ECFE;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 400px;
  overflow: hidden;
}
.filter-switch input {
  display: none;
}
.filter-switch label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 18px;
}
.filter-switch .background {
  position: absolute;
  width: 49%;
  height: 38px;
  background-color: #C7ECFE;
  top: 4px;
  left: 4px;
  border-radius: 30px;
  transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#option2:checked ~ .background {
  left: 50%;
}


