/* need to try and setup a grid layout */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  min-height: 100vh;
  background-color: #BCDFCE;
  font-family: 'Silkscreen', sans-serif;

}



.navbar {
  width: 100%;
  height: 60px;
  background-color: #c5cffc; /* Pink */
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 40px; /* This pushes the content down */
}
