
body {
  margin: 0;
  background-color: #BCDFCE;
  font-family: "Patrick Hand", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3em;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #c5cffc;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 40px; /* This pushes the content down */
}
